<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500&display=swap" rel="stylesheet">
</head>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-7 intro-section">
      <div class="brand-wrapper">
        <h1><a>Carkis</a></h1>
      </div>
      <div class="intro-content-wrapper">
        <h1 class="intro-title">Welcome to carkis !</h1>
        <p class="intro-text">Los mejore autos y motos deportivos aqui</p>
        <a routerLink="/registrar" routerLinkActive="active-link" class="btn btn-read-more">Registrarte</a>
      </div>
      <div class="intro-section-footer">
        <nav class="footer-nav">
          <a href="#!">Facebook</a>
          <a href="#!">Twitter</a>
          <a href="#!">Gmail</a>
        </nav>
      </div>
    </div>
    <div class="col-sm-6 col-md-5 form-section">
      <div class="login-wrapper">
        <h2 class="login-title">Inicia Sesion</h2>

        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <div class="form-group">
            <label for="email" class="sr-only">Email</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Email" [(ngModel)]="email"
              required email>
            <div
              *ngIf="loginForm && loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)"
              class="text-danger">
              <div *ngIf="loginForm.controls'email'['required']">El email es requerido.</div>
              <div *ngIf="loginForm.controls'email'['email']">El email es inválido.</div>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Password"
              [(ngModel)]="password" required minlength="8">
            <div
              *ngIf="loginForm && loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
              class="text-danger">
              <div *ngIf="loginForm.controls'password'['required']">La contraseña es requerida.</div>
              <div *ngIf="loginForm.controls'password'['minlength']">La contraseña debe tener al menos 8 caracteres.
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center mb-5">
            <button type="submit" class="btn login-btn" [disabled]="!loginForm?.valid" [(ngModel)]="active" value="1">Login</button>
            <a href="#!" class="forgot-password-link">Olvidaste tu contraseña?</a>
          </div>
        </form>

    </div>
  </div>
</div>